<div class="container-sm" *ngIf="productFormGroup">
    <form [formGroup]="productFormGroup" >
        <div class="form-group" >
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                 <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                    <div *ngIf="f['name'].errors['required']">Name is required</div>
                  </div>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" formControlName="price">
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="form-control" formControlName="quantity">
        </div>
        <div class="form-group">
            <label>Selected</label>
            <input type="checkbox" formControlName="selected" class="form-check">
        </div>
        <div class="form-group">
            <label>Available</label>
            <input type="checkbox" formControlName="available" class="form-check">
        </div>
        <button (click)="onSaveProduct()" class="btn btn-success">Save</button>
    </form>
</div>