<nav class="nav navbar-expand-sm bg-light navbar-light">
    <ul class="navbar navbar-nav">
        <li>
            <button (click)="onGetAllProducts()" class="btn btn-sm btn-outline-info ml-2"> All</button>
        </li>
        <li>
            <button (click)="onGetSelectedProducts()" class="btn btn-sm btn-outline-info ml-2">Selected</button>
        </li>
        <li>
            <button (click)="onGetAvailableProducts()" class="btn btn-sm btn-outline-info ml-2">Available</button>
        </li>
        <li>
            <button (click)="onNewProduct()" class="btn btn-sm btn-outline-info ml-2">New product</button>
        </li>
    </ul>
    <ul class="navbar navbar-nav ml-auto">
        <li>
            <form #f="ngForm" (ngSubmit)="onSearchProducts(f.value)" class="form-inline">
                <input ngModel name="keyword" type="text">
                <button class="btn btn-sm btn-outline-info">
                    <span class="fa fa-search"></span>
                </button>
            </form>
        </li>
    </ul>
</nav>
<ng-container *ngIf="(products$ | async) as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
        Loading .....
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
        <div class="alert-danger">
            {{result.errorMessage}}
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
        <div class="container" *ngIf="products$">
            <table>
                <tr>
                    <th>Identifiant</th><th>Name</th><th>Pice</th><th>Quantity</th><th>Selected</th><th>Available</th><th>Update</th><th>Delete</th>
                </tr>
                <tr *ngFor="let p of result.data">
                    <td>{{p.id}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                    <td>{{p.quantity}}</td>
                    <td>{{p.selected}}</td>
                    <td>{{p.available}}</td>
                    <td>
                        <button (click)="onSelectProduct(p)" [ngClass]="p.selected? 'btn-success':'btn-danger'">
                            <span *ngIf="p.selected">Unselect</span>
                            <span *ngIf="!p.selected">Select</span>
                        </button>
                    </td>
                    <td>
                        <button (click)="onDeleteProduct(p)" class="btn btn-sm btn-danger">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </td>
                    <td>
                        <button (click)="onEditProduct(p)" class="btn btn-sm btn-danger">
                            <span >Edit</span>
                        </button>
                    </td>
                </tr>
                
            </table>
        </div>  
    </ng-container>
</ng-container>

